<article
	data-testid="course-card"
	class="bg-white rounded p-4 mt-5"
	[ngClass]="{'bg-blue-500' : course.topRated}"
>
	<div class="flex justify-between w-[80%] p-1">
		<h2 data-testid="course-title">
			<strong>{{course.title}}</strong>
			<sup *ngIf="course.topRated" class="text-yellow-400 ml-2 text-lg"
				>&#9733;</sup
			>
		</h2>
		<div class="flex gap-2">
			🕝<span data-testid="course-duration"
				>{{course.duration | durationPipe}}</span
			>
			📆<span
				data-testid="course-creationDate"
				class="border px-2"
				[appHighlightCreationDate]="course.creationDate"
				>{{course.creationDate | date:'mediumDate'}}</span
			>
		</div>
	</div>
	<div class="flex justify-between p-1">
		<p class="basis-[80%]" data-testid="course-description">
			{{course.description}}
		</p>
		<div class="flex gap-2 items-center">
			<app-button
				class="rounded bg-green-400 px-2 py-1 items-end"
				(click)="onCourseCardEdit(course.id)"
				data-testid="edit-button"
			>
				🖊 Edit
			</app-button>
			<app-button
				(onclick)="onCourseCardDelete(course.id)"
				data-testid="delete-button"
				class="rounded bg-green-400 px-2 py-1 items-end"
			>
				🗑 Delete
			</app-button>
		</div>
	</div>
</article>
